.bundle
db/*.sqlite3
log/*.log
tmp/
.DS_Store
*.tmproj
*.csv
*.txt
config/database.yml
config/newrelic.yml
config/environments/quandu_*.rb
config/environments/bleak_house.rb
doc/plugins/*
public/javascripts/tiny_mce
public/features
public/categories
public/places
public/assets
public/thl