<div class="mceTmpl">       
<div class="myclass mceItemEditable"><h1>Insert Name of Monastery Here</h1></div>
<div class="myclass mceItemEditable"><h2>Overview</h2></div>
<div class="myclass mceItemEditable">
<p>
<br/>	
</p>	
</div>

<div class="myclass mceItemEditable"><h2>Current Status</h2></div>
<div class="myclass mceItemEditable">
<p>
<br/>	
</p>	
</div>

<div class="myclass mceItemEditable"><h2>Space</h2></div>
<div class="myclass mceItemEditable">
<p>
<br/>	
</p>	
</div>

<div class="myclass mceItemEditable"><h2>Time & History</h2></div>
<div class="myclass mceItemEditable">
<p>
<br/>	
</p>	
</div>

<div class="myclass mceItemEditable"><h2>Agents</h2></div>
<div class="myclass mceItemEditable">
<p>
<br/>	
</p>	
</div>

<div class="myclass mceItemEditable"><h2>Social and Institutional Life</h2></div>
<div class="myclass mceItemEditable">
<p>
<br/>	
</p>	
</div>

<div class="myclass mceItemEditable"><h2>Activities</h2></div>
<div class="myclass mceItemEditable">
<p>
<br/>	
</p>	
</div>

<div class="myclass mceItemEditable"><h2>Things (Material Holdings)</h2></div>

</div>
