<div class="mceTmpl">       
<div class="myclass mceItemEditable"><h1>Insert Name of Polity Here</h1></div>
<div class="myclass mceItemEditable"><h2>Overview</h2></div>
<div class="myclass mceItemEditable">
<p>
<br/>	
</p>	
</div>

<div class="myclass mceItemEditable"><h2>Time & History</h2></div>
<div class="myclass mceItemEditable">
<p>
<br/>	
</p>	
</div>

<div class="myclass mceItemEditable"><h2>Space</h2></div>
<div class="myclass mceItemEditable">
<p>
<br/>	
</p>	
</div>

<div class="myclass mceItemEditable"><h2>Politics</h2></div>
<div class="myclass mceItemEditable">
<p>
<br/>	
</p>	
</div>

<div class="myclass mceItemEditable"><h2>Economics</h2></div>
<div class="myclass mceItemEditable">
<p>
<br/>	
</p>	
</div>

<div class="myclass mceItemEditable"><h2>Culture</h2></div>
<div class="myclass mceItemEditable">
<p>
<br/>	
</p>	
</div>

<div class="myclass mceItemEditable"><h2>Environment</h2></div>
<div class="myclass mceItemEditable">
<p>
<br/>	
</p>	
</div>

<div class="myclass mceItemEditable"><h2>Sources</h2></div>

</div>
