/*********************************************
BASIC ELEMENT STYLES
*********************************************/
hr{
	padding:0;
	margin:1em 0;
	border:none;
	border-bottom:solid 1px gray;
}

a{
	color:darkblue;
	text-decoration:underline;
}

a:hover{
	
}

textarea {
	width:inherit;
	font:normal normal normal verdana, arial, sans-serif;
	padding: 2px;
}

input.text { font-size: 100%; }

input[type='submit'] { margin-top: 1em;}

ul {
	margin:1em;
}

ul li {
	list-style:none;
}

table th{
	background-color:#efefef;
}

fieldset {
	background-color:#efefef;
	border:solid 1px lightgray;
	border:dotted 1px gray;
	padding:1em;
	padding-top: 0em;
	margin-top: -1.7em;
    font-size: 130%;
    line-height: 130%;
    float: left;
    clear: both;
}

fieldset div {margin-top: 6px;}

fieldset div.row p {font-size: 100%;}
emph:before {
    font-style: italic;
    content: "{emph markup} "
}

emph {font-weight: bold;}

extref:before {
    font-size: 90%;
    font-style: italic;
    content: "{extref link: " attr(href) "} ";
}

form fieldset {margin-bottom: 1em;}

fieldset legend{  
    border:solid 1px gray;
    background-color:#cdcdcd;
    padding:.2em;
    margin-top:1.7em;
    margin-bottom:0.7em;
}

fieldset legend a {
	font-weight:normal;
	color:green;
}

/* Overwrite thdl-style.css to prevent decomposed Tibetan */
h1, h2, h3, h4, h5, h6 {
	letter-spacing: normal !important;
}

/* Overwrite thdl-style.css to allow for unstyled <dl/>s */
dl.no-style {
	margin:0;
}
dl.no-style dt, dl.no-style dd {
	line-height:1em !important;
	font-size:1em !important;
	color:#404040 !important;
	font-weight:normal !important;
}
dl.no-style p {
	font-size:1em !important;
}

/*********************************************
ID BASE STYLES
*********************************************/

#header{
	background-color:#285136;
	padding:1em;
	color:white;
}

#header h2{
	margin:0;
}

#content-main{
	padding:1em;
	padding-top: 0em;
}

#bcNav {
	width:100%;
	background-color:#D3E3DC;
	padding:.4em;
	padding-left:1em;
	border-top:solid 1px gray;
	border-bottom:solid 1px gray;
	margin-bottom:12px;
	color:#555;
	font-size: 110%;
}
#bcNav a {
	color:black;
}
#bcNav .left{
	margin-top:.2em;
}

#SelectNav option{
	padding-left: 5px;
}

/* The Rails flash message (after an update for example...) */
#flash{
	background-color:#ffeeaa;
	padding:.5em;
	color:darkred;
	border:solid 1px gray;
	margin-bottom:.5em;
	font-weight:bold;
}

/* For admin/features/show */ 
#featureShow fieldset {
	clear:both;
}

/* For admin/features/index */
#featureContextTreeAndList{
	margin:0;
	margin-top:1em;
	/*border:solid 1px gray;*/
}

/* float it right, and adjust the width to nudge up to the ul list (left col) */
#featureContextList{
    width:70%;
    float:left;
}

#featureContextList .listGrid, #content-main .listGrid {
    font-size: 130%;
    line-height: 150%;
}

#featureContextList .listGrid tr, #content-main .listGrid tr {
    padding-top: 3px;
    padding-bottom: 3px;
}

#featureContextTree{
    float:right;
    width:20%;
    background-color:#efefef;
    border:solid 1px lightgray;
    min-height:340px;
    padding:.5em;
    font-size: 120%;
    text-align: left;
}

#featureContextTree h2 {font-size: 110%;}

#featureContextTree ul{
    letter-spacing:.5px;
    margin:0;
    padding:0;
    margin-top:1em;
    margin-left:1em;
}

#featureContextTree ul li {
    margin:0;
    margin-bottom:.5em;
    padding:0;
    text-indent:0em;
    letter-spacing: 0px;
}

#featureContextTree ul li:before {
    content: " \0020";
    color:black;
}
#featureContextTree ul li.closed:before {
    content: "+ \0020";
}
#featureContextTree ul li.opened:before {
    content: "- \0020";
}
#featureContextTree a, #featureContextTree span {
}

#featureContextTree ul li a {
    text-decoration: none;
}

#featureContextTree ul li a:hover {
    color:#666;
}

#feature_description {
    font-size: 100%;
}

/*********************************************
ELEMENTS WITH CLASSES
*********************************************/

table.listGrid{
	width:100%;
	margin-top:1em;
}

table.listGrid tr td, table tr th{
    border-color:lightgray;
}

table.listGrid tr.rowHighlight {
    background-color:lightyellow;
}

table.listGrid th {
  padding: 0 5px;
  text-align: left;
}

table.listGrid td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  padding: 0 5px;
  border-top: 1px solid #ccc;
}

table.listGrid p, table.listGrid .last_updated {
  font-size: 12px;
}

table.userlist {
    font-size: 130%;
    line-height: 140%;
}

table.userlist td {padding: 3px;}

table.descriptionlist td {padding: 5px;}

fieldset .inlineRow{
	margin-top:1em;
}

fieldset .inlineRow .elements{
    padding:1em;
    margin-left:2em;
}

fieldset .inlineRow .elements select{
	margin-top:1em
}

fieldset .row {
	margin-bottom:.5em;
}

label.normal{
	font-weight:normal;
	color:black;
}

div.yesno{
	padding:1em;
}

div.yesno input{
	margin-left:1em;
}

div.yesno-inline {
	display: inline;
	margin-left:1em;
}

p.page-tip{
	font-size:1.15em;
	line-height:1.3em
}

ul.bulleted-list{
	list-style: disc;
}


/*********************************************
RE-USABLE CLASSES
*********************************************/
.tibetan {
    font-size: 130%;
    letter-spacing: 0px;
    text-align: left;
}

.listActions{
	white-space:nowrap;
	padding:0 5px;
}

.listActionsCol{
	white-space:nowrap;
	text-align:center;
}

.staticNestedFieldset {
	margin-top:0;
	margin-bottom:-.5em;
	border:none;
}

.rowSep {
	background-color:lightgray;
	height:1px;
	margin:.5em;
	clear:both;
}

.returnLink {
	margin-top:1em;
}

/* Used for containers holding floating elements */
.row {
	clear:left;
	margin:0;
	padding:0;
}

.left{ float:left; }
.right{ float:right; }

.leftText{
	text-align:left;
}

.rightText{
	text-align:right;
}

.centerText{
	text-align:center;
}

.vtopText{
	vertical-align:top;
}

.centerBlock{
	margin:0 auto;
}

/* generic higlight class */
.highlight{
  
}

.clear {
	clear:both;
}

.message{
	color:green;
	/*border:solid 1px gray;*/
}

.highlight {
	background-color:lightyellow;
	padding:.1em;
}

.info{
	background-color:lightyellow;
	padding:1em;
	margin-top:.5em;
	border:solid 1px gray;
}

.featureLabel, a.featureLabel{
	color:darkred;
	font-weight:bold;
}

.featureLabel:hover{
	color:red;
	font-weight:bold;
}

.featureNameLabel{
	color:darkgreen;
}


/* PAGINATION */
.paginationHeader{
	padding:.2em;
	background-color:white;
	font-weight:normal;
	font-size:90%;
}

.pagination{
	text-align:center;
}

/* FORM ERRORS */
.fieldWithErrors{
	display:inline;
	margin:0;
}
.fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors textarea {
	border:solid 1px red;
}

.row label, .fieldWithErrors label, .inlineRow label{
	font-weight:bold;
	color:#333;
}
.row label, .fieldWithErrors label {
	float:left;
	text-align:right;
	margin-right:1em;
}
.errorExplanation{
	/*
	border:solid 1px red;
	background-color:lightyellow;
	*/
	margin-bottom:1em;
}
.errorExplanation h2{
	color:darkred;
}
.text {
	border:solid 1px gray;
	padding:.1em;
	display: inline-block;
	border:none; 
	padding:5px; 
	font:normal normal normal 18px/18px verdana, arial, sans-serif;
}

/* styling for descriptions */
.title { font-size: 1.32em; color:black;}
.by { font-size: 1.32em;}
.content_by { font-size: 1.32em; font-variant:small-caps;}
.last_updated { font-size: 1.25em;}

#content .shell-1 {
	margin-top: 5px;
	padding-top: 5px;
}